@import url('http://fonts.cdnfonts.com/css/open-sans');
@import url('http://fonts.cdnfonts.com/css/poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.hero {
	
	background: url(./images/bg-hero-mobile.svg);
	background-repeat: no-repeat;
	background-color: hsl(191, 89%, 96%);
	background-position: center center;
  background-size: cover;
  
}

.headnav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.headnav > img {
	width: 30%;
	height: auto;
	margin-top: 30px;
}

.headnav > button {
	border: none;
	justify-content: center;
	align-items: center;
	padding: 6px;
	gap: 8px;
	box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.12);
	border-radius: 25px;
	background-color: white;
	width: 160px;
	font-weight: 800;
	font-size: 16px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	margin-top: 30px;
	cursor: pointer;
}

.headnav > button:hover {
	color: hsl(212, 6%, 53%);
}


.herodiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	
}

.herotxt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.herotxt > h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 26px;
	margin-top: 23px;
	color:	hsl(192, 100%, 9%);
	line-height: 40px;
}

.herotxt > p {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 400;
	font-size: 17.5px;
	padding-top: 20px;
	margin-bottom: 40px;
	color: hsl(193, 70%, 11%);
	line-height: 30px;
}


.herotxt > button {
	background-color: hsl(322, 99%, 66%);
	color: rgb(255, 242, 255);
	border: none;
	justify-content: center;
	align-items: center;
	padding: 8px;
	gap: 8px;
	box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.12);
	border-radius: 30px;
	width: 300px;
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	margin-bottom: 80px;
	cursor: pointer;
	height: 60px;

}

.herotxt > button:hover {
	background-color: hsl(322, 100%, 80%);
	color: hsl(300, 100%, 98%);
}

.heroimg > img {

	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.middle {
	margin: 30px;
}

.growtxt > h2 {
	margin-top: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 30px;
	color: hsl(196, 78%, 12%);
}

.growtxt > p {
	font-weight: 400;
	font-size: 14px;
	color: hsl(206, 7%, 55%);
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	text-align: center;
	padding-bottom: 20px;
}


.flowing, .your, .grow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	border: none;
	border-radius: 18px;
	box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.12);
	margin: 10px;
	margin-top: 60px;
	padding: 10px;
}

.flowing:hover, .your:hover, .grow:hover {
	transform: scale(1.1);
}

.flowing > img, .your > img, .grow > img {
	width: 100%;
	height: auto;
}

.flowingtxt, .yourtxt, .growtxt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 10px;
}

.flowingtxt > h2 {
	margin-top: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 21px;
	color: hsl(196, 78%, 12%);
}

.flowingtxt > p {
	font-weight: 400;
	font-size: 14px;
	color: hsl(206, 7%, 55%);
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	text-align: center;
	padding-bottom: 20px;
}

.yourtxt > h2 {
	margin-top: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 30px;
	color: hsl(196, 78%, 12%);
}

.yourtxt > p {
	font-weight: 400;
	font-size: 14.7px;
	color: hsl(206, 7%, 55%);
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	text-align: center;
	padding-bottom: 17px;
}

.SubFooter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	border: none;
	border-radius: 18px;
	box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.12);
	margin: 10px;
	margin-top: 60px;
	padding: 20px;
	padding-bottom: 50px;
	background-color: white;
	position: relative;

}

.SubFooter:hover{
	transform: scale(1.01);
}

.SubFooter h2 {
	margin-top: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 17px;
	color: hsl(195, 83%, 11%);
}

.SubFooter button {
	background-color: hsl(322, 99%, 66%);
	color: hsl(321, 100%, 94%);
	border: none;
	justify-content: center;
	align-items: center;
	padding: 8px;
	gap: 8px;
	box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.12);
	border-radius: 25px;
	width: 220px;
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	margin-bottom: 20px;
	cursor: pointer;
}

.SubFooter > button:hover {
	background-color: hsl(322, 100%, 80%);
	color: hsl(300, 100%, 98%);
}

footer {
	margin-top: -100px;
	padding: 20px;
	padding-top: 140px;
	display: flex;
	flex-direction: column;
	background-color:	hsl(192, 100%, 9%);
	color: rgb(236, 253, 255);
	font-family: 'Open Sans', sans-serif;
	gap: 40px;
}

.thefooter {
	margin-left: 30px;
		display: flex;
	flex-direction: column;
	gap: 30px;
}

.huddle {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 50px;
	font-weight: 800;
	gap: 10px;
}

.huddle > img {
	margin-top: 20px;
	width: auto;
	height: 100%;
}

.location > img {
	width: auto;
	height: 100%;
}

.phone, .email, .location {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 35px;
	font-weight: 400;
}

.menuone, .menutwo {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-left: 30px;
}

#about:hover, #what:hover, #FAQ:hover, #career:hover, #blog:hover, #contact:hover {
	text-decoration: underline;
	cursor: pointer;
}

.thesocial > h3 {
	font-size: 14px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  border: 2px solid white;
}

.fa-facebook {
  background: hsl(192, 100%, 9%);
  color: white;
}

.fa-twitter:hover, .fa-instagram:hover, .fa-facebook:hover {
	color: hsl(321, 100%, 65%);
}


.fa-twitter, .fa-instagram {
	background: hsl(192, 100%, 9%);
  color: white;
}


@media only screen and (min-width: 400px) {

	.herotxt > h1 {
		font-size: 33px;
	}

	.herotxt > p {
		font-size: 19px;
	}

	.grow > p {
		font-size: 14px;
	}

	.flowingtxt > p {
		font-size: 15px;
	}

	.yourtxt > p {
		font-size: 15.9px;
	}
}

@media only screen and (min-width: 500px) {
	.headnav {
		justify-content: space-between;
		margin-left: 20px;
		margin-right: 20px;
	}

	.herotxt > h1 {
	font-size: 36px;
}

.herotxt > p {
	font-size: 18.5px;
}

.growtxt > p {
		font-size: 20px;
	}

	.flowingtxt > h2 {
		font-size: 22px;
	}

	.flowingtxt > p {
		font-size: 21px;
	}

	.yourtxt > p {
		font-size: 22px;
	}

}

@media only screen and (min-width: 750px) {
	.headnav {
		justify-content: space-between;
		margin-left: 20px;
		margin-right: 20px;
	}

	.herodiv {
		padding: 50px;
		margin-left: 50px;
		margin-right: 50px;
	}

	.herotxt > h1 {
	font-size: 45px;
	align-items: center;
	line-height: 60px;

}

.herotxt > p {
	font-size: 29px;
	align-items: center;
	line-height: 45px;

}

.herotxt > button {
	padding: 8px;
	gap: 8px;
	box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.12);
	border-radius: 30px;
	width: 480px;
	height: 70px;
	font-weight: 600;
	font-size: 24px;

}

.grow {
	padding: 60px;
}
.flowing {
	padding: 60px;
}
.your {
	padding: 60px;
}

.growtxt > h2 {
	font-size: 40px;
}

.growtxt > p {
		font-size: 28px;
	}

	.flowingtxt > h2 {
		font-size: 40px;
	}

	.flowingtxt > p {
		font-size: 30px;
	}

	.yourtxt > h2 {
		font-size: 40px;
	}

	.yourtxt > p {
		font-size: 31px;
	}

	.SubFooter {
		margin-top: 140px;
	}

	.SubFooter h2 {
		font-size: 37px;
	}

	.SubFooter button {
	box-shadow: 2px 6px 10px rgba(14, 31, 53, 0.12);
	border-radius: 38px;
	width: 420px;
	font-weight: 700;
	font-size: 20px;
	line-height: 62px;
}

footer {
	padding-top: 200px;
}

.location {
	gap: 35px;
	font-weight: normal;
	font-size: 26.8px;
}

.location > img {
	width: auto;
	height: 100%;

}

}

@media only screen and (min-width: 1100px) {

	.hero {
		background: url(./images/bg-hero-desktop.svg);
		background-repeat: no-repeat;
	background-color: hsl(191, 89%, 96%);
	background-position: center center;
  background-size: cover;

	}

.headnav {
	padding: 50px;
}

	.herodiv {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	
	padding: 0px;
	gap: 40px;
}

.heroimg > img {
	padding-bottom: 110px;
	width: 100%;
	height: auto;
}

.herotxt {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 80px;
	width: 480px;

}

.herotxt > h1 {
	text-align: left;
	font-size: 38px;
	width: 430px;
}

.herotxt > p {
		text-align: left;
		font-size: 17px;
		font-weight: 400;
		width: 490px;
		line-height: 30px;
}

.herotxt > button {
	border-radius: 32px;
	width: 280px;
	font-weight: 600;
	font-size: 14px;
	line-height: 10px;
	height: 50px;

}

.middle {
	margin: 70px;
}

.grow {
	display: flex;
	flex-direction: row-reverse;

}

.grow > img {
	width: 40%;
	height: auto;
}

.growtxt {
	text-align: left;
	justify-content: flex-start;
	align-items: flex-start;
}
.growtxt > p{
	text-align: left;
	font-size: 16px;
}

.flowing {
	display: flex;
	flex-direction: row;

}

.flowing > img {
	width: 40%;
	height: auto;
}

.flowingtxt {
	text-align: left;
	justify-content: flex-start;
	align-items: flex-start;
}

.flowingtxt > h2 {
	text-align: left;
	font-size: 24px;
}

.flowingtxt > p{
	text-align: left;
	font-size: 15px;
}

.your {
	display: flex;
	flex-direction: row-reverse;

}

.your > img {
	width: 40%;
	height: auto;
}

.yourtxt {
	text-align: left;
	justify-content: flex-start;
	align-items: flex-start;
}

.yourtxt > h2 {
	text-align: left;
	font-size: 26px;
}

.yourtxt > p{
	text-align: left;
	font-size: 16px;
}

.SubFooter {
	border-radius: 18px;
	margin: 10px;
	margin-top: 40px;
	padding: 0px;
	padding-bottom: 0px;
	gap: 20px;
	width: 500px;
	position: absolute;
	margin-left: 280px;

}

.SubFooter h2 {
	margin-top: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 17px;
	color: hsl(195, 83%, 11%);
}

.SubFooter button {
	padding: 8px;
	gap: 8px;
	box-shadow: 0px 4px 8px rgba(14, 31, 53, 0.12);
	border-radius: 25px;
	width: 220px;
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	margin-bottom: 20px;
	cursor: pointer;
}

footer {
	margin-top: 200px;
	display: flex;
	flex-direction: row;
	padding-bottom: 90px;
	gap: 110px;
}

.huddle > img {
	height: 60%;
	width: auto;
}

.huddle > h3 {
	color: white;
}

.location {
	margin-top: 0px;
	gap: 30px;
}
.location > h3 {
	font-size: 13px;
	width: 290px;
}

.location > img {
	margin-top: 5px;
	width: auto;
	height: 50%;
}

.phone {
	gap: 30px;
}

.phone > img {
	width: auto;
	height: 70%;
}

.phone > h3 {
	font-size: 14px;
}

.email {
	margin-top: -20px;
	gap: 30px;
}

.email > img {
	width: auto;
	height: 70%;
}

.email > h3 {
	font-size: 14px;
}

.menuone {
	padding-top: 100px;
	white-space: nowrap;
	margin-left: -90px;
	gap: 15px;
}

.menutwo {
	padding-top: 100px;
	white-space: nowrap;
	margin-left: -60px;
	gap: 15px;
}

.thesocial {
	padding-top: 80px;
	margin-left: -60px;
	gap: 100px;
}
.thesocial > h3 {
	margin-left: 20px;
	font-size: 14px;
	white-space: nowrap;
	margin-top: 130px;
}

.fa {
  font-size: 14px;
}

.thefooter {
	margin-left: 10px;
}
}

@media only screen and (min-width: 1200px) {
	.growtxt > p{
	text-align: left;
	font-size: 22px;
}

.flowingtxt > p{
	text-align: left;
	font-size: 22px;
}

.yourtxt > p{
	text-align: left;
	font-size: 23px;
}

.SubFooter {
	margin-left: 420px;

}

footer {
	padding-top: 100px;
	padding-bottom: 60px;
}

.menuone, .menutwo {
	margin-left: 0px;
}

.thesocial {
	margin-left: 0px;
}

.thesocial > h3 {
	margin-top: 130px;
}


}
